
@model HMS.Areas.Dashboard.ViewModels.AccomodationsListingModel

@if (Model != null && Model.Accomodations != null && Model.Accomodations.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"> Name</th>
                <th scope="col"> Description</th>
                <th scope="col"> Accomodation package</th>
                <th scope="col"> Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var accomodation in Model.Accomodations)
            {
            <tr>
                <td>
                    @accomodation.Name
                </td>
                <td>
                    @accomodation.Description
                </td>
                <td>
                    @if (accomodation.AccomodationPackage != null)
                    {
                        @accomodation.AccomodationPackage.Name
                    }

                </td>

                <td>
                    <button data-href="@Url.Action("Action", "Accomodations", new { ID =accomodation.ID})" type="button" class="data-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="fa-solid fa-pen m-1"></i>Edit</button>
                    <button data-href="@Url.Action("Delete", "Accomodations", new { ID =accomodation.ID})" type="button" class="data-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="fa-solid fa-trash-can m-1"></i>Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    if (Model.Pager.EndPage > 1)
    {
        <nav>
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Accomodations")">
                            <i class="fa-solid fa-angles-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Accomodations", new {page = Model.Pager.CurrentPage - 1, searchTerm = Model.SearchTerm, accomodationTypeID = Model.AccomodationPackageID })">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Accomodations", new {page = page, searchTerm = Model.SearchTerm, accomodationTypeID = Model.AccomodationPackageID})">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Accomodations", new {page = Model.Pager.CurrentPage + 1, searchTerm = Model.SearchTerm, accomodationTypeID = Model.AccomodationPackageID })">
                            <i class="fa-solid fa-angle-right m-1"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Accomodations", new {page = Model.Pager.TotalPages, searchTerm = Model.SearchTerm, accomodationTypeID = Model.AccomodationPackageID})">
                            <i class="fa-solid fa-angles-right m-1"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }

}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry, No records exist.
    </div>
}


